@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Open Puerta</h1>
    Wondering who works in Open Puerta?
    <a>@Html.ActionLink("Check it out!!", "Index", "Employees")</a>
</div>
